<div class="userLoginDirective">
  <form name="loginForm">
    <md-input-container>
      <label>Username</label>
      <input type="text" ng-model="loginData.username" required md-maxlength="15">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="loginData.password" required minlength="4">
    </md-input-container>
    <md-button class="md-raised md-primary">Login</md-button>
    <md-button type="button" ng-click="loginFB()">Login using Facebook</md-button>
    <md-button type="button" ng-click="loginGoogle()">Login using Google</md-button>
  </form>
</div>
