<div class="xssView">
  <div class="xssWrapper">
    <h2>XSS Test</h2>
    <div class="input">
      <md-input-container>
        <label>XSS Text</label>
        <textarea ng-model="xssText"></textarea>
      </md-input-container>
      <md-button class="md-fab md-primary" aria-label="Save to Cloud" ng-click="saveText('xssText', xssText)">
        <i class="fa fa-cloud-upload"></i>
      </md-button>
    </div>
    <div class="output">
      <div class="result filtered">
        <h3>Filtered result</h3>
        <section>
          {{ xssText }}
        </section>
      </div>
      <div class="result unfiltered">
        <h3>Unfiltered result</h3>
        <section>
        </section>
      </div>
    </div>
  </div>
  <div class="csrfWrapper">
    <h2>CSRF Test</h2>
    <div class="input">
      <md-input-container>
        <label>CSRF Text</label>
        <textarea ng-model="csrfText"></textarea>
      </md-input-container>
      <md-button class="md-fab md-primary" aria-label="Save to Cloud" ng-click="saveText('csrfText', csrfText)">
        <i class="fa fa-cloud-upload"></i>
      </md-button>
    </div>
    <img src="{{ csrfText }}"/>
  </div>
</div>
