.xssView {

  .input {
    position: relative;

    button {
      position: absolute;
      bottom: 30px;
      right: 0;
    }
  }

  .xssWrapper {
    .output {
      .result {
        section {
          padding: 20px 10px;
          box-shadow: 0px 2px 3px #E0DDDD;
        }

        &.filtered {
          section {
            background: #E0FFB1;
          }
        }
        &.unfiltered {
          section {
            background: #FEB8B8;
          }
        }
      }
    }
  }
  .csrfWrapper {
    margin-top: 50px;
  }
}
